.navbar-brand {
  font-size: 2rem;
}

.card-body {
  font-size:1.25em;
  text-align: justify;
}

.card-title {
  font-weight: bolder;
  font-size: 1.25em;
}

.card-header {
  background-color: darkgray;
  color: white;
  font-size: 2rem;
  height: 3rem;
  text-align: center;
}

.card-img-top {
  max-height: 12rem;
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;
}
